/* .reset {
  background-color: var(--white);
  position: absolute;
  top: 10px;
  right: 10px;
  fill: var(--primary);
  padding: 2px 3px;
  border-radius: 100%;
  font-weight: bold;
  font-size: 20px;
  width: 40px;
  box-shadow: 3px 3px 6px var(--gray-600);
  border: 2px solid var(--primary);
}

.reset:hover {
  fill: var(--white);
  background-color: var(--primary);
  box-shadow: 5px 5px 6px var(--gray-600);
} */
