.events {
  width: 384px;
  margin: auto;
}

.event_title {
  font-size: 14px;
  font-weight: 700;
  max-width: 150px;
  overflow: visible;
}

.event_date {
  font-size: 14px;
  color: var(--gray-800);
  font-weight: bold;
}

.event {
  width: 90%;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom: var(--gray-200) 1px solid;
}

.event_box1 {
  display: flex;
  width: 70%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.more_delete_btns {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.trash {
  width: 25%;
  margin-left: 5px;
  opacity: 0.5;
  cursor: pointer;
}

.event_box2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
}

.event_img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 10%;
  margin-right: 10px;
}

.moreInfo {
  color: var(--white);
  font-weight: 700;
  padding: 3px 10px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background: var(--primary);
  color: var(--white);
  border-radius: 8px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  height: 28px;
  margin-top: 20px;
  opacity: 0.7;
}

.moreInfo:hover {
  opacity: 1;
}
