.information-detail {
  width: 90%;
  max-width: 500px;
  /* background-color: bisque; */
  margin: auto;
  text-align: left;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.information-detail-text {
  margin: auto;
  width: 90%;
}
.information-detail-title {
  color: var(--primary);
  font-size: 26px;
  margin-bottom: 20px;
  word-wrap: break-word;
  line-height: 28px;
}

.image {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 90%;
  height: auto;
  border-radius: 20px;
  align-self: center;
}

.information-detail-items {
  color: var(--black);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 20px;
  word-wrap: break-word;
}

.information-detail-items-date {
  color: var(--gray-800);
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.title-items {
  color: var(--gray-800);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.cat-info {
  /* width: 70%; */
  height: 100px;
  background-image: url('./img/cat-info.svg');
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 10px;
  margin-bottom: 20px;

  /* opacity: 0.7; */
}

@media screen and (min-width: 750px) {
  .information-detail {
    flex-direction: row;
    max-width: 1000px;
    /* background-color: red; */
    align-content: flex-start;
    margin-top: 30px;
  }
  .image {
    width: 50%;
    align-self: start;
  }
  .information-detail-text {
    margin: auto;
    width: 50%;
    margin-left: 30px;
    /* background-color: green; */
  }
}
